# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
.cache
.eslintcache
.parcel-cache
.turbo
.next
.nuxt
.svelte-kit
*.tsbuildinfo
*.local
.env
.env.local
.env.*.local

# Runtime / process files
*.pid
*.pid.lock

# Build outputs
build
tmp
temp

# VS Code and IDE
.history/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
